#extensions

*.hmap
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcbkptlist
*.xccheckout
*.xcuserstate
*com.mono0926*
*.resolved
#directories

**/.build/*
**/.swiftpm/*
/Templates

#other

Example/Pods/*

.DS_Store
.idea/
AutoMockable.generated.swift
Breakpoints_v2.xcbkptlist
DerivedData

#xcodeproj_exclude_package_resolved

#*Example/player.xcodeproj/*
#!*Example/player.xcodeproj/project.xcworkspace/
#*Example/player.xcodeproj/project.xcworkspace/*
#!*Example/player.xcodeproj/project.xcworkspace/xcshareddata/
#*Example/player.xcodeproj/project.xcworkspace/xcshareddata/*
#!*Example/player.xcodeproj/project.xcworkspace/xcshareddata/IDETemplateMacros.plist
